* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    appearance: none;
    outline: none;
}

.logo-img {
    width: 300px;
    display: block;
    margin: 10px auto;
}

body {
    background: #8A51FC;
}

main {
    width: 375px;
    border-radius: 20px;
    background: #F4F4F4;
    padding: 44px 24px 23px;
    display: block;
    margin: 0 auto 20px;
}

label {
    color: #777;
    font-size: 14px;
}

select, input {
    border-radius: 4px;
    border: 1px solid #BBB;
    background: #FFF;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    height: 48px;
    width: 100%;
    color: #555;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    padding-left: 18px;
    margin-bottom: 24px;
}

.convert-button {
    font-weight: 700;
    color: #FFF;
    font-size: 18px;
    border-radius: 5px;
    background: #772FD3;
    width: 327px;
    height: 48px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
}

.convert-button:hover {
    opacity: 0.8;
}

.convert-button:active {
    opacity: 0.5;
}

section {
    border-radius: 20px;
    border: 1px solid #772FD3;
    width: 327px;
    padding: 12px;
    margin-top: 36px;
}

.arrow {
    display: block;
    margin: 12px auto;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777;
    font-size: 14px;
}

.currency-value-to-convert, .currency-value {
    color: #555;
    font-size: 20px;
    font-weight: 700;
}

